/source/dev/Tutorial/Lesson1/bin/Debug/Lesson1.exe
/source/dev/Tutorial/Lesson1/bin/Debug/Lesson1.exe.config
/source/dev/Tutorial/Lesson1/bin/Debug/Lesson1.pdb
/source/dev/Tutorial/Lesson1/Lesson1.csproj
/source/dev/Tutorial/Lesson1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/source/dev/Tutorial/Lesson1/obj/Debug/Lesson1.csproj.CoreCompileInputs.cache
/source/dev/Tutorial/Lesson1/obj/Debug/Lesson1.csproj.FileListAbsolute.txt
/source/dev/Tutorial/Lesson1/obj/Debug/Lesson1.exe
/source/dev/Tutorial/Lesson1/obj/Debug/Lesson1.pdb
/source/dev/Tutorial/Lesson1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/source/dev/Tutorial/Lesson1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/source/dev/Tutorial/Lesson1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/source/dev/Tutorial/.vs/Tutorial/v15/Server/sqlite3/db.lock
/source/dev/Tutorial/.vs/Tutorial/v15/Server/sqlite3/storage.ide
/source/dev/Tutorial/.vs/Tutorial/v15/Server/sqlite3/storage.ide-shm
/source/dev/Tutorial/.vs/Tutorial/v15/Server/sqlite3/storage.ide-wal
/source/dev/Tutorial/.vs/Tutorial/v15/.suo
